#DJANGO 
ENVIRONMENT=development
SECRET_KEY="7_g^fk&ga^fb(#12c=gtsu&pj2zh)&j@tge@8"

# backend port
BACKEND_IP=127.0.0.1
BACKEND_PORT=8001
UI_IP=127.0.0.1
UI_PORT=8000
DJANGO_DEBUG=false

# frontend origin
FRONTEND_URL="http://127.0.0.1:8000"
# API keys for external services
GEMINI_API_KEY=""
GROQ_API_KEY=""

# REDIS configuration
REMOTE_REDIS_URL=""
REDIS_SERVICE_ID=""

# LOCAL REDIS configuration
LOCAL_REDIS_URL="redis://127.0.0.1:6379"
